<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travory.app.chat.mapper.ChatMapper">

    <insert id="insertMessage"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO chat_messages
        (
            post_id,
            user_id,
            content
        )
        VALUES
            (
                #{postId},
                #{userId},
                #{content}
            )
    </insert>

    <select id="findById"
            resultType="com.travory.app.chat.dto.ChatMessageDto">
        SELECT
            cm.id,
            cm.post_id,
            cm.user_id,
            cm.content,
            cm.created_at,
            u.user_name,
            u.profile_image
        FROM chat_messages cm
                 JOIN users u ON cm.user_id = u.id
        WHERE cm.id = #{id}
    </select>

    <select id="findByPostId"
            resultType="com.travory.app.chat.dto.ChatMessageDto">
        SELECT
            cm.id,
            cm.post_id,
            cm.user_id,
            cm.content,
            cm.created_at,
            u.user_name,
            u.profile_image
        FROM chat_messages cm
                 JOIN users u ON cm.user_id = u.id
        WHERE cm.post_id = #{postId}
        ORDER BY cm.id ASC
    </select>

</mapper>
